@font-face {
  font-family: 'iconfont';  /* project id 1062079 */
  src: url('//at.alicdn.com/t/font_1062079_3ine6a54iwi.eot');
  src: url('//at.alicdn.com/t/font_1062079_3ine6a54iwi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1062079_3ine6a54iwi.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1062079_3ine6a54iwi.woff') format('woff'),
  url('//at.alicdn.com/t/font_1062079_3ine6a54iwi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1062079_3ine6a54iwi.svg#iconfont') format('svg');
}
.webIcon{
  font-family: 'iconfont';
}
